version: "3"
services:
  app:
    volumes:
      - ./app:/app:delegated
    command:
      - ./docker-start.override
    ports:
      - "$APP_PORT:3000"
    networks:
      development:
networks:
  development:
