version: "3"
services:
  app:
    volumes:
      - ./app:/app:delegated
      - app_user:/home/pyuser # for bash history etc
      - ~/.config/pulse:/root/.config/pulse
      #- ./.packages:/home/pyuser/.local # /usr/local/lib/python3.11/site-packages
    command:
      - ./docker-start.override
    networks:
      development:
networks:
  development:
volumes:
  app_user:
